body {font-family: Arial, Helvetica, sans-serif;}
h2 {text-align: center;}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
    padding: 16px;
}

button:disabled{
  cursor: not-allowed;
}

mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 500px;
}

.full-width {
  width: 80%;
}